* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    line-height: 1.4;
    color: #535353;
    background-color: #fefefe;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 65px 0;
    z-index: 15;
}

.header.active {
    transition: padding 0.25s;
    padding: 36px 0;
    background-color: white;
}

.header__content {
    display: flex;
    justify-content: space-between;
}

.header__left {
    display: flex;
    gap: 134px;
    align-items: center;
    z-index: 16;
}

.header__logo {
    position: relative;
    transition: all 0.25s;
}

.header__logo img {
    width: 74px;
    transition: all 0.5s;
}

.header__logo img.black {
    position: absolute;
    visibility: visible;
    opacity: 1;
}

.header__logo.menu-openned img.black {
    visibility: hidden;
    opacity: 0;
}

.header__left .header__logo img.white {
    visibility: hidden;
    opacity: 0;
}

.header__logo.menu-openned img.white {
    visibility: visible;
    opacity: 1;
}

.header__menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 2;
    background-color: black;
    visibility: hidden;
    transition: all 0.5s;
}

.header__menu.active {
    visibility: visible;
    height: 652px;
}

.header__menu--content {
    margin-left: 207px;
}

.header__navigation {
    padding-top: 160px;
    padding-bottom: 36px;
}

.header__navigation .header__item {
    margin-bottom: 22px;
}

.header__link {
    font-size: 26px;
    text-decoration: none;
    color: #9d9d9d;
}

.header__menu.active .header__bottom {
    transition-delay: 0.25s;
    opacity: 1;
}

.header__bottom {
    transition: all 0.7s;
}

.header__bottom--content {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__bottom-left a {
    text-decoration: none;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    margin-right: 20px;
}

.header__navbar {
    display: flex;
    gap: 30px;
    align-items: center;
    cursor: pointer;
    transition: all 0.25s;
    overflow: hidden;
}

.header__navbar p {
    font-size: 14px;
}

.navbar__icon {
    position: relative;
    line-height: 12px;
}

.navbar__icon .navbar__line {
    display: flex;
    flex-direction: column;
    gap: 4px;

    width: 16px;
    height: 12px;
    position: absolute;
    visibility: visible;
    opacity: 1;
    transition: all 0.5s;
}

.header__navbar.menu-openned .navbar__icon .navbar__line {
    visibility: hidden;
    opacity: 0;
}

.header__navbar.menu-openned {
    color: white;
}

.navbar__icon .navbar__x i {
    display: flex;
    align-items: center;
    width: 16px;
    height: 12px;
    color: #fefefe;
    font-size: 18px;
}

.navbar__icon .navbar__x {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    top: 0;
}

.header__navbar.menu-openned .navbar__icon .navbar__x {
    visibility: visible;
    opacity: 1;
}

.navbar__icon .navbar__line span {
    display: block;
    width: 16px;
    height: 1px;
    background-color: black;
    transition: all 0.25s;
    transition-delay: 1s;
}

.header__navbar:hover .navbar__icon .navbar__line span:nth-child(2) {
    width: 32px;
}

.navbar__text {
    position: relative;
}

.navbar__title-default {
    position: absolute;
    visibility: visible;
    opacity: 1;
    transition: all 0.5s;
}

.navbar__title-close {
    visibility: hidden;
    opacity: 0;
}

.menu-openned .navbar__title-default {
    visibility: hidden;
    opacity: 0;
}

.menu-openned .navbar__title-close {
    visibility: visible;
    opacity: 1;
}

.header__menu.active .header__bottom::before {
    transition-delay: 0.5s;
    width: 100%;
}

.header__bottom::before {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: #313131;
    transition: all 0.5s;
}

.header__page,
.header__social i,
.header__link {
    transition: all 0.25s;
}

.header__bottom-right i {
    font-size: 14px;
    color: #9d9d9d;
    margin: 0 5px;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__music {
    display: inline-flex;
    align-items: end;
    gap: 2px;
    width: 20px;
    height: 14px;
}

.header__music span {
    width: 2px;
    height: 7px;
    background-color: black;
    font-weight: 900;
}

.header__music span:first-child {
    animation: music-bar 2s 1s ease-out alternate infinite;
}

.header__music span:nth-child(2) {
    animation: music-bar 2s 0.5s ease-out alternate infinite;
}

.header__music span:nth-child(3) {
    animation: music-bar 2s 1.5s ease-out alternate infinite;
}

.header__music span:nth-child(4) {
    animation: music-bar 2s 0.25s ease-out alternate infinite;
}

.header_language {
    position: relative;
}

.header_language a {
    display: flex;
    align-items: center;
    color: #090909;
}

.header_language i {
    font-size: 8px;
    margin-left: 10px;
}

.language__list {
    position: absolute;
    bottom: -20px;
    left: 0;
    padding: 30px;
    background-color: black;
    transform: translate(-36%, 100%);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
}

.header_language .language__selection:hover {
    color: #ee9982;
}

.header_language:hover .language__list {
    opacity: 1;
    visibility: visible;
}

.language__list li a {
    color: #fefefe;
    font-size: 13px;
}

.header_search {
    color: #090909;
}

/* BANNER */
.banner {
    background-image: url("../images/circle.png");
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 10vh 0;
    margin-bottom: 6vh;
}

.banner__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 74px;
}

.banner__text {
    width: 30%;
    word-spacing: 0.001em;
    line-height: 1.6;
}

.banner__title {
    font-size: 80px;
}

.banner__title span {
    display: block;
    letter-spacing: -0.03em;
    font-weight: 600;
    line-height: 1;
    color: #343434;
}

.banner__desc {
    font-size: 18px;
    margin: 48px 0 40px;
}

.banner__view::before {
    content: "";
    display: block;
    width: 35px;
    height: 1px;
    background-color: #d9d9d9;
    margin-right: 15px;

}

.banner__view {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: #090909;
}

.banner__img {
    width: 55%;
    height: auto;
    position: relative;
    transform: translateX(50px);
}

.banner__img img:first-child {
    display: block;
    width: 358px;
    height: 546px;
}

.banner__img img:nth-child(2) {
    display: block;
    position: absolute;
    top: 25%;
    left: 50%;
    width: 334px;
    height: 487px;
}

@keyframes music-bar {
    0% {
        height: 6px;
    }

    10% {
        height: 10px;
    }

    20% {
        height: 6px;
    }

    30% {
        height: 14px;
    }

    40% {
        height: 18px;
    }

    50% {
        height: 6px;
    }

    60% {
        height: 16px;
    }

    70% {
        height: 10px;
    }

    80% {
        height: 12px;
    }

    90% {
        height: 4px;
    }

    100% {
        height: 18px;
    }
}

@keyframes navigation-open {
    from {
        height: 0;
    }

    to {
        height: 652px;
    }
}